<!--Matching-card-->

<article class="matching__card">
    <header>
        <img src="<%= profile.image %>" width="335" alt="<%= profile.name %>">
        <h3><%= profile.name%> -<%= profile.role%></h3>
    </header>
    <p><%= profile.bio%></p>
    <div class="matching__card-link">
        <a href="#">Bekijk details</a>
    </div>
</article>