<%- include('partials/head') %> 
<%- include('partials/header') %> 
    <div class="background--wrapper">

    <main class="project--container crew-profile-edit">
    <form id="projectForm" action="/save-project" method="POST" enctype="multipart/form-data">
        
        <header class="project--header">
            <div class="project--title-group">
                <h1 id="projectTitle" class="project--title" contenteditable="false">
                    <%= projectData.title || 'Project Titel' %>
                </h1>
                <span id="titleCounter" class="char-counter edit-only">0/20</span>
                <input type="hidden" name="title" id="inputTitle">

                <h2 id="projectSubtitle" class="project--subtitle" contenteditable="false">
                    <%= projectData.subtitle || 'Hoofdrol Speler' %>
                </h2>
                <span id="subtitleCounter" class="char-counter edit-only">0/30</span>
                <input type="hidden" name="subtitle" id="inputSubtitle">
            </div>

            <div class="project--header-info">
                <%- include('partials/editmode-button') %> 

                <div>
                    <p>Dir: <a href="/director/d-de-vries"> D. de Vries</a></p>
                </div>
            </div>
        </header>

        <%- include('partials/slideshow') %> 
        <%- include('partials/filters') %>

         <p id="projectDescription" class="project-text" contenteditable="false">
        <%= projectData.description || 'Beschrijving van het project' %>
        </p>
        <span id="descCounter" class="char-counter edit-only">0/500</span>
        <input type="hidden" name="description" id="inputDescription">
        
    </form>
</main>

 <section class="production">
        <h3 class="production_Title">Productie Informatie</h3>
        <p class="production_Summary" contenteditable="false">We zijn op zoek naar enthousiaste cast- en crewleden die willen bijdragen aan dit unieke, visuele project.

Geschatte werktijd (totaal): 4 tot 5 maanden.

Fase 1 (Pre-productie): Casting, locatiescouting en repetities (nu t/m Maart).
Fase 2 (Productie): De daadwerkelijke opnamedagen.
Fase 3 (Post-productie): Montage, sound design en kleurcorrectie.

Draaiperiode: De film moet uiterlijk juni 2026 volledig geschoten zijn.

Aantal draaidagen: We schatten momenteel 3 tot 5 intensieve draaidagen in (voornamelijk in de weekenden).
        </p>
    </section>

    <section class="carousel">
        <h2 class="carousel__Title">Andere projecten van de regisseur</h2>

        <ul class="carousel__list">

            <%- include('partials/addProjectCard') %>
            
        <% for (let i = 0; i < 5; i++) { %>
            <li class="carousel__list-Item">

        <%- include('partials/matching') %>
        
        
        </li>
        <% } %>
    </ul>
    
    </section>

    <section class="carousel">
        <h2 class="carousel__Title">Crew die meewerkt aan de film</h2>
        
        <ul class="carousel__list">
        <% for (let i = 0; i < 5; i++) { %>
            <li class="carousel__list-Item">

        <%- include('partials/matching') %>
        
        </li>
        <% } %>
    </ul>
    
    </section>

    <section class="carousel open sollicitaties">
        <h2 class="carousel__Title">Open sollicitaties</h2>
        
        <ul class="carousel__list">
        <% for (let i = 0; i < 5; i++) { %>
            <li class="carousel__list-Item">

        <%- include('partials/matching') %>
        
        </li>
        <% } %>
    </ul>
    
    </section>
<script src="js/slideshow.js"></script>
<script src="js/tijdelijke-filters.js"></script>
<script src="js/editmode-button.js"></script>
<script src="js/tekstcounter.js"></script>
<script src="/js/addProjectCard.js"></script>
<%- include('partials/footer') %> 
</body>

</html>