<!-- wietse -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Matches</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/./static/partials/footer.css">
</head>


<body>
    <%- include('partials/header') %>
<main>
    <div>
        <div class="current__active-notification">
            <h2 class="current__h2">Nieuwe Matches</h2>
            <div class="current__notification">!</div>
        </div>
            <ul class="matches__filters">
                <li>Beroep <i class="matches__arrow"></i></li>
                <li>Sorteren op <i class="matches__arrow"></i></li>
                
            </ul>
        <ul class="carousel__list">
            <% for (let i = 0; i < 5; i++) { %>
                <li class="carousel__list-Item">
                    <%- include('partials/matching') %>
                </li>
                <% } %>
        </ul> 
    </div>
    <div>
            <h2 class="current__h2">Huidige Projecten</h2>
            <ul class="matches__filters">
                <li>Project type <i class="matches__arrow"></i></li>
                <li>Sorteren op <i class="matches__arrow"></i></li>
            </ul>
            <div class="filter-dropdown">
                <label class="filter__label" for="sort">Sorteren:</label>
                <select id="sort">
                    <option value="best-match">Beste match</option>
                    <option value="most-popular">Meest populair</option>
                    <option value="a-z">A > Z</option>
                    <option value="z-a">Z > A</option>
                    <option value="most-recent">Meest recent</option>
                    <option value="oldest-first">Oudste eerst</option>
                </select>
            </div>
            <ul class="carousel__list current__matches">
                <% for (let i = 0; i < 5; i++) { %>
                  <li class="carousel__list-Item <%= i === 0 ? 'first-item-active' : '' %>">
                    <%- include('partials/matching') %>
                  </li>
                <% } %>
              </ul>
    </div>
</main>
<%- include('partials/footer') %>
</body>
</html>